a, abbr, acronym, address, applet, b, big, blockquote, button, canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, html, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
}

html {
    overflow: hidden;
}

body {
    background: url(/media/ciulin.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;

    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 420px) {
    html, body {
        height: 100%;
    }

    #app {
        margin: 0 auto;
        height: 100%;
        width: 100%;
    }

    #app {
        display: none;
    }

    div.container {
        display: none;
    }

    div.container {
        height: inherit;
        width: inherit;

        text-align: center;
    }

    div.main {
        background: rgba(128, 128, 128, 0.5);
        color: #333;
        text-align: center;
        font-family: "arial","helvetica",sans-serif;
        margin: auto;
        padding: 0;
        width: 820px;
        height: inherit;
    }

    div.main {
        margin-top: 0 !important;
        padding-top: 0 !important;
        min-width: 800px !important;
    }
}

@media only screen and (max-width: 420px) {
    * {
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden !important;
        color: black !important;
    }
}